{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col-10 offset-md-1 col-md-5 home-page-overlay">
                <h1 class="display-4 logo-font text-white text-uppercase font-weight-bold">
                    Welcome to The Club
                </h1>
                <h4 class="text-white text-uppercase"> Founded 1661</h4>
                <p class="text-white font-weight-bold">
                    Founded in 1661 The Club is the heart of our community, since its inception brought the people of our community together. 
                    <br>
                    <br>
                    <strong>Name:</strong> Sean McDermotts GAA Club
                    <br>
                    <strong>As Gaeilge:</strong> C.L.G. Sheáin MhicDhiarmada
                    <br>
                    <strong>Address:</strong> Drumgarve, Threemilehouse, Co Monaghan
                    <br>
                    <strong>Nickname:</strong> The SEANS
                    <br>
                    <strong>Serving:</strong> Parish of Threemilehouse and Corracrin 
                    <br>
                    <strong>Crest:</strong> <img class="chrest" src="{{ MEDIA_URL }}seans-logo.webp" alt="The Club Crest">
                </p>
            </div>
        </div>
        <div class="row h-100" id="news-section">
            <div class="col home-page-overlay">
                <a class="nav-link mb-3" href="{% url 'all_news' %}">
                    <div class="row mb-2">
                        <h1 class="display-4 logo-font text-white text-uppercase mb-2">
                             Club News
                        </h1>
                        <hr>
                    </div>
                </a>
                <div class="row">
                    {% if news|length > 0 %}
                        {% for n in news %}
                            <div class="col col-md-6">
                                <div class="card mb-5 news-image px-0 mx-0">
                                    {% if n.image %}
                                        <img class="card-img-top img-fluid" src="{{ n.image.url }}" alt="{{ n.title }}">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ n.title }}" class="card-img-top img-fluid">
                                    {% endif %}
                                    <div class="card-body">
                                    <h5 class="card-title text-uppercase">{{ n.title }}</h5>
                                    {% if n.team %}
                                        <h6 class="card-title">{{ n.team.get_friendly_name }}</h6>
                                    {% endif %}
                                    <p class="card-text">{{ n.news|truncatechars:100}}</p>
                                    <a href="{% url 'news_item' n.id %}" class="btn btn-dark news-button">Full Story</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}