{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay container-fluid"></div>
    <div class="container">
        <div class="row">
            {% if from_profile %}
                <div class="col">
                    <hr>
                    <h2 class="mb-2 text-uppercase heading" id="order_heading" data-toggle="tooltip" data-placement="bottom" title="{{ order.order_number}}">Order History for {{ order.order_number|truncatechars:6 }}</h2>
                    <hr>
                    <button href="{% url 'profile' %}" class="btn btn-dark my-2">
                        <span class="icon mr-2">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <span>Back to Profile</span>
                    </button>
                </div>
            {% else %}
                <div class="col">
                    <hr>
                    <h2 class="mb-2 text-uppercase heading">Thank you</h2>
                    <hr>
                    <p class="text-uppercase">Thank you for your order and supporting your local club. A confirmation email will be sent to {{ order.email }}</p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper border p-2">
                    <div class="row">
                        <div class="col mb-1">
                            <small class="muted-text text-secondary text-uppercase">Order Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1 mt-3">
                            <small class="muted-text text-secondary text-uppercase">Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                        {% if item.period %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="small font-weight-bold">Subs for: {{ item.player_name|upper }} for {{ item.period }}month(s)</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="small"> @ £{{ item.product.price }} per month</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="small font-weight-bold">{{ item.product.name}}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="small">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col mb-1  mt-3">
                            <small class="muted-text text-secondary text-uppercase">Delivering to:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Email Address</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.phone_number }}</p>
                        </div>
                    </div>
                    {% if order.house_number %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-bold">House Name or Number</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.house_number }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Street</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.street }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-bold">County</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.postcode }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1  mt-3">
                            <small class="muted-text text-secondary text-uppercase">Billing Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.order_total }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 text-right text-uppercase">
                <h4>Keep up to date with the Club</h4>
                <a href="{% url 'home' %}#news-section" class="btn btn-dark my-2 rounded-0">
                    <span class="icon mr-2">
                        <i class="fa-regular fa-newspaper"></i>
                    </span>
                    <span>Club News</span>
                </a>
                <a href="{% url 'fixtures' %}" class="btn btn-dark my-2 rounded-0">
                    <span class="icon mr-2">
                        <i class="fa-solid fa-volleyball"></i>
                    </span>
                    <span>Upcoming Fixtures</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $('#order_heading').tooltip()
        })
    </script>
{% endblock %}