html {
    height: 100%;
}

body {
    background: url('/media/pitch2.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Oswald", sans-serif;
}

.heading{
    color: #266B73;
    font-size: 4rem;
}
.logo i, 
.logo h4{
    color: white;
    font-size: 2rem;
}

.nav-link{
    color: white;
    font-size: 1rem;
}

.overlay{
    height: 98vh;
    width: 98vw;
    top: auto;
    left: 15px;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}



/* ----- MEDIA QUERIES ----- */
@media (max-width: 576px) {
    .header-container{
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container{
        padding-top: 164px;
    }
}

@media (min-width: 992px) {
    .header-container{
        padding-top: 164px;
    }
}
