html {
    height: 100%;
}

body {
    background: url('/media/pitch2.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Oswald", sans-serif;
}

.heading{
    color: #266B73;
    font-size: 4rem;
}
.logo i, 
.logo h4{
    color: white;
    font-size: 2rem;
}

.nav-link{
    color: white;
    font-size: 1rem;
}

.overlay{
    height: 98vh;
    width: 98vw;
    top: auto;
    left: 1vw;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}
.product-filters{
    list-style: none;
}

#all-products-link,
#clothing-link,
.product-item{
    display: inline-block;
    list-style-type: none;
    color: #266B73;
    font-size: 1.5rem;
}

.sort-dropdown,
.sort-dropdown a{
    background-color: #266B73;
    color: white;
}

.product-card,
.product-card p{
    background-color: #266B73;
    color: white;
}

.card-body p{
    font-size: 1.5rem;
}

.category-link{
    color: #01260E;
}

.btt-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    background-color: #266B73;
    color: white;
}

.btt-link{
    cursor: pointer;
    color: white;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 576px) {
    .header-container{
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container{
        padding-top: 164px;
    }
}

@media (min-width: 992px) {
    .header-container{
        padding-top: 164px;
    }
}
