<div class=" container-fluid mt-2">
    <div class="row product-filters">
        <ul class="product-filters list-inline list-unstyled text-center mx-auto">
            <li class="product-item dropdown list-inline-item mx-auto">
                <a href="{% url 'kit' %}" class="mr-3 text-uppercase all-products-link" id="products">All Products</a>
            </li>
            <li class="product-item dropdown list-inline-item mx-auto">
                <a class="mx-3 text-uppercase" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </a>
                <div class="dropdown-menu border-0 sort-dropdown" aria-labelledby="all-products-link">
                    <a href="{% url 'kit' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'kit' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'kit' %}" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="product-item dropdown list-inline-item mx-auto">
                <a class="ml-3 text-uppercase" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Occassion
                </a>
                <div class="dropdown-menu border-0 sort-dropdown" aria-labelledby="clothing-link">
                    <a href="{% url 'kit' %}?category=game_kit" class="dropdown-item">Match Kit</a>
                    <a href="{% url 'kit' %}?category=training_kit" class="dropdown-item">Training Kit</a>
                    <a href="{% url 'kit' %}?category=supporters_kit" class="dropdown-item">Supporters Kit</a>
                </div>
            </li>
        </ul>
    </div>
</div>