{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay container-fluid"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-2 text-uppercase heading">Manage Products</h2>
                <p class="text-uppercase text-muted">Edit Product</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form product-form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a href="{% url 'kit' %}" class="btn rounded-0 btn-dark">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Cancel</span>
                        </a>
                        <button type="submit" class="btn rounded-0 btn-dark text-uppercase">
                            Update Product
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

