{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay container-fluid"></div>
    <div class="containe mb-5 pb-5">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="mb-2 text-uppercase heading">Club News</h2>
                <p class="text-uppercase text-muted">Add News Item</p>
                <hr class="w-50 mb-2">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 offset-md-2">
                <form action="{% url 'add_news' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a href="{% url 'club_admin' %}" class="btn rounded-0 btn-dark">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Cancel</span>
                        </a>
                        <button type="submit" class="btn rounded-0 btn-dark text-uppercase">
                            Add News
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-11 text-right">
                <a href="{% url 'club_admin' %}" class="btn rounded-0 btn-dark">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Admin</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

