{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay container-fluid"></div>
    <div class="container mb-5 pb-5">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-2 text-uppercase heading">Club News</h2>
                <hr>
                <h4 class="mb-2 text-uppercase">{{ news.title }}</h4>
                <p class="text-uppercase text-muted">{{ news.news_category.get_news_friendly_name }}</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
                <div class="image-container my-5">
                    {% if news.image %}
                        <a href="{{ news.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ news.image.url }}" alt="{{ news.title }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ news.name }}" class="card-img-top img-fluid">
                        </a>
                    {% endif %}
                </div>
                {% if news.team %}
                    <h6 class="card-title">{{ news.team.get_friendly_name }}</h6>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
                <div class="news-container my-5">
                    <p class="card-text">{{ news.news }}</p>
                    <p class="text-muted float-right">POSTED: {{ news.date }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <a href="{% url 'home' %}" class="btn rounded-0 btn-dark">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Home</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

