<div class="p-3">
  <div class="w-100 toast-topper bg-success"></div>
  <div id="liveToast" class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
    <div class="toast-header">
      <strong class="mr-auto">Success!</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <div class="row">
        <div class="col">
          {{ message }}
          <hr class="mt-1 mb-3">
        </div>
      </div>
      {% if grand_total and not on_profile_page %}
        <p class="text-uppercase py-1">Your Bag ({{ product_count }})</p>
        <div class="bag-notification-wrapper">
          {% for item in bag_items %}
            <div class="row">
              <div class="col-3 my-1">
                {% if product.image %}
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-100">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="w-100">
                {% endif %}
              </div>
              <div class="col-9">
                <p class="my-0 text-uppercase"><strong>{{ item.product.name }}</strong></p>
                {% if item.product.has_sizes %}
                  <p class="my-0 text-uppercase">{{ item.size }}</p>
                {% endif %}
                <p class="my-0 text-uppercase">Qty: {{ item.quantity }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col">
            <p class="text-uppercase mt-3 mb-1">
              <strong>Total{% if free_delivery_delta > 0 %}(Excluding Delivery){% endif %}</strong>
              <span class="float-right">£{{ total|floatformat:2 }}</span>
            </p>
            {% if free_delivery_delta > 0 %}
              <p class="mb-0 p-2 bg-warning">
                Spend <strong>£{{ free_delivery_delta }}</strong> more to get free delivery!
              </p>
            {% endif %}
            <a href="{% url 'view_bag' %}" class="btn rounded-0 btn-outline-dark">
              <span>
                  <i class="fas fa-lock"></i>
              </span>
              <span class="text-uppercase">Secure Checkout</span>
          </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>